 <!doctype html>
 <html lang="en">
 <head>
 	<meta charset="UTF-8">
 	<title>Backbone</title>
 	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
 	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 	<script src="underscore.js"></script>
 	<script src="backbone.js"></script>

 	<script>
 		$(document).ready(function () {
 			


 			//Library item
	 		var LibraryItem = Backbone.Model.extend({
	 			title: 'Lord of the rings',
	 			author: 'tolkien',
	 			price: 50
	 		});

	 		var LibraryItemView = Backbone.View.extend({
	 			initialize: function () {
	 				this.render();
	 			},
	 			render: function () {
	 				this.$el.html(_.template($('#book_template').html(), this.model.toJSON()));
	 				
	 				return this;
	 			}
	 		});


	 		//Library collection
	 		var LibraryCollection = Backbone.Collection.extend({
	 			model: LibraryItem,
	 			initialize: function () {
	 				this.bind('add', this.onModelAdded, this)
	 			},
	 			onModelAdded: function () {
	 				console.log('added a model')
	 			}
	 		});

	 		var LibraryCollectionView = Backbone.View.extend({
	 			initialize: function () {
	 				
	 				//cache oneself
	 				var self = this;

	 				//create an array of views
	 				this.booksViews = [];

	 				//populate books array
	 				this.collection.each(function (item) {
	 					self.booksViews.push(new LibraryItemView({
	 						model: item
	 					}))
	 				});

	 				this.render();

	 			},
	 			render: function () {
	 				var self = this;
	 				
	 				_(this.booksViews).each(function (item) {
	 					
	 					$('#libraryView').append(item.render().$el);
	 				})
	 			}
	 		})

	 		//Application router
	 		var AppRouter = Backbone.Router.extend({
	 			routes: {
	 				"books": "listBooks",
	 				"book/:id": "getBook",
	 				"*actions": "defaultRoute"
	 			}
	 		});

	 		var appRouter = new AppRouter;


	 		appRouter.on('route:defaultRoute', function (actions) {
	 			console.log('actions')
	 		});

	 		appRouter.on('route:getBook', function (id) {
	 			
	 			var library = new LibraryCollection();

	 			library.add([{
	 				title: 'the great gatzy',
	 				author: 'nickelodeon',
	 				price: 10,
	 				id: 1
	 			},
	 			{
	 				title: 'Futai cu ceai',
	 				author: 'sebika',
	 				price: 50,
	 				id: 2
	 			},
	 			{
	 				title: 'Gorillaz',
	 				author: 'the naked back',
	 				price: 10,
	 				id: 3
	 			},
	 			{
	 				title: 'Preistoria',
	 				author: 'Neagu Djuvara',
	 				price: 50,
	 				id: 4
	 			}])


	 			var libraryView = new LibraryItemView({
	 				model: library.get(id),
	 				el: $('#libraryContainer')
	 			});

	 			
	 		});

	 		appRouter.on('route:listBooks', function () {
	 			
	 			var library = new LibraryCollection([{
	 				title: 'the great gatzy',
	 				author: 'nickelodeon',
	 				price: 10,
	 				id: 1
	 			},
	 			{
	 				title: 'Futai cu ceai',
	 				author: 'sebika',
	 				price: 50,
	 				id: 2
	 			},
	 			{
	 				title: 'Gorillaz',
	 				author: 'the naked back',
	 				price: 10,
	 				id: 3
	 			}]);

	 			library.add([
	 			{
	 				title: 'hPreistoria',
	 				author: 'Neagu Djuvara',
	 				price: 50,
	 				id: 4
	 			},
	 			{
	 				title: 'nPdreistoria',
	 				author: 'Neagu Djuvara',
	 				price: 50,
	 				id: 5
	 			}])

	 			var libraryCollectionView = new LibraryCollectionView ({
	 				collection: library
	 			})
	 		});


	 		Backbone.history.start();

 		});


 	</script>
 </head>
 <body>
 	<div class="container">
 		<div class="row">
 			<div class="span4">
 				<h4>Model view</h4>
 				<div id="libraryContainer"></div>
 			</div>
 			<div class="span4">
 				<h4>Collection view</h4>
 				<a href="#/books">Books</a>
 				<div id="libraryView"></div>
 			</div>
 		</div>
 	</div>
 	

 	
 	<script type="text/template" id="book_template">
 		
 		<dl>
 			<dt>Book title</dt>
 			<dd><a href="#/book/<%= id %>"><%= title %></a></dd>
 			<dt>Book author</dt>
 			<dd><%= author %></dd>
 			<dt>Book price</dt>
 			<dd><%= price %></dd>
 		</dl>
 	</script>

 	<script type="text/template" id="booklist_template">
 		<ul>
 			<li><%= title %></li>
 		</ul>
 	</script>
 </body>
 </html>